.main-menu{
  position: fixed;
  right: 0%;
  bottom:20%;
  height: 1px;
  width: 10%;

  ul {
    margin: 0 auto;
    width: 80%;
    z-index: 10;
  }
}
.hamburger {
  text-align: center;
  margin: 30% auto;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background: $cyan-500;
  &:hover{
    cursor: pointer;
  }
  
}
.close-btn {
  &:hover {
    border: 1px solid $cyan-300;
    padding: 8px;
    // background: $cyan-600;
  }
}
.menu-item {
  padding: 0 10%;
  top: 36%;
}
.menu-animator {
  position: fixed;
  right: 0%;
  bottom:0;
  height: 5%;
  width: 10%;
  padding:0;
  background: #fff;
  -webkit-transition: all 0.25s ease-in; 
          transition: all 0.25s ease-in; 

  &:before{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 1px;
      background: transparent;
      content: " "; 
  }
  
  &.on {
    background: $cyan-500;
    height:100%;
    width: 100%;
    -webkit-transition: all 0.25s ease-out; 
          transition: all 0.25s ease-out;

    &:before{
      background: $cyan-600;
      height: 3px;
    }
    .menu-overlay-item {
      -webkit-transition: opacity 0.25s ease-out 0.35; 
      transition: opacity 0.25s ease-out 0.35;
      left: 50%;
      top: 50%;
      font-size: 200px;
      color: $cyan-50;
      opacity: .8;
    }
    .menu-overlay-icon-next {
      color: #555;
      right: -4%;
    }
  }
}
