<article class="row">
  <section itemscope itemtype="http://schema.org/Person" class="person">
    <ul class="inner-person">

      <li class="person-item">
        <h1 class="person-item-name" >
          <span itemprop="name">
            <span itemprop="givenName">Suzanne</span>
            <span itemprop="additionalName">
              <abbr title="Bernadette">B.</abbr>
            </span>
            <span itemprop="familyName">Harwood</span>
          </span>
        </h1>
        <!-- <figure>
          <img itemprop="image" src="images/suzanne-harwood-logo.jpg" alt="A logo of Suzanne Harwood">
        </figure> -->
      </li>

      <!-- <li class="person-item">
        <h2 class="person-item-birthday">
          <span itemprop="birthDate">12/19/1959</span>
        </h2>
      </li> -->

      <li class="person-item">
        <h2 class="person-item-url">
          <a href="http://suzanne.io" itemprop="url">http://suzanne.io</a>
        </h2>
      </li>

      <li class="person-item">

        <h2 class="person-item-telephone">
          <span itemprop="telephone">
            <a href="tel:+19125480128">912.548.0128</a>
          </span>
        </h2>

        <h2 class="person-item-telephone">
            <span itemprop="telephone">
              <a href="tel:+19122823057">912.282.3057</a>
            </span>
        </h2>
      </li>

      <li class="person-item">

          <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="person-item-address">
            <h2>
              <span itemprop="streetAddress">91100 St Catherine Waycross</span>
              <span itemprop="addressRegion">, GA</span>
              <span itemprop="postalCode">31501</span>
            </h2>
          </address>

      </li>

    </ul>
  </section>

  <!-- //****************


   SKILLS SUMMARY 

  **********************// -->
  <section class="row">
    <dl class="skills-summary">
      <dt class="col-left">
        <h3>Skills Summary:</h3>
      </dt>
      <dt class="col-right">
        <ul class="skills-list">
          <li><p>skills summary marking and sales compaign mangement</p></li>
          <li><p>skills summary marking and sales compaign mangement</p></li>
          <li><p>skills summary marking and sales compaign mangement</p></li>
          <li><p>skills summary marking and sales compaign mangement</p></li>
          <li><p>skills summary marking and sales compaign mangement</p></li>
        </ul>
      </dt>
    </dl>
  </section>

   <!-- //****************

   EXPERICENCE

  **********************// -->

  <section class="row">
    <dl class="exp-summary">
      <dt class="col-left">
        <h3>Experience:</h3>
      </dt>
      <dt class="col-right">
        <h4 class="exp-timeframe">2011 - present</h4>
        <h5 class="exp-job">Marketing and Call Center / Dispatch Manager</h5>
        <h6 class="exp-location">Mediastream- waycross, georgia</h6>
        <ul class="exp-list">
          <li><p>skills summary marking and sales compaign mangement</p></li>
          <li><p>skills summary marking and sales compaign mangement</p></li>
          <li><p>skills summary marking and sales compaign mangement</p></li>
          <li><p>skills summary marking and sales compaign mangement</p></li>
          <li><p>skills summary marking and sales compaign mangement</p></li>
        </ul>
      </dt>
    </dl>
  </section>
</article>